<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='file.css') }}" 
        rel="stylesheet"
        type="text/css">
  <link href="{{ url_for('static', filename='flask.png') }}"
        rel="icon">
  <title>회원가입</title>
</head>
<body>
  <h2>회원가입(GET)</h2>
  <form action="/join" method="get">
    <p>이름 <input type="text" name="name"></p>
    <p>아뒤 <input type="text" name="id"></p>
    <p>비번 <input type="password" name="pw"></p>
    <p>주소 <input type="text" name="addr"></p>
    <p><input type="submit" value="가입"></p>
  </form>
</body>
</html>