<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    /* * * * * footer * * * * * */
    footer{
        width:100%; margin:5px auto;
        height: 150px;
        overflow: hidden;
    }
    footer div:last-child{
        height:50px; line-height:50px; text-align:center;
        background-color:black;
        color:white;
    }
  </style>
  <title>Title</title>
</head>
<body>
  <footer>
    <div class="copyright">Copyright ⓒ Joeun System Corp. All rights reserved.</div>
  </footer>
</body>
</html>