{% extends "base.html" %}
{% block title %}구구단을 외자{% endblock %}
{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="container-fluid py-5">
            구구단을 외자
        </h1>
        <form action="{{url_for('index')}}"method="post">
            <input type="number" 
                    name="no" 
                    placeholder="원하는구구단 입력">
            <input type="submit" value="구구단 출력" class="btn btn-primary">
        </form>
        {% if names %}
            {% for name in names %}
                {% if loop.last %}
                    <p><b>{{loop.index}}/{{name|length}}.{{name|title}} </b></p>
                {% else %}    
                    <p>{{loop.index}}/{{name|length}}.{{name|title}}</p>
                {% endif %}
            {%endfor%}
        {% else %}
            <p class="text-danger">추가된 이름이 없습니다</p>    
        {% endif %}    
    </div>
{% endblock %}