<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet">
  <link href="{{ url_for('static', filename='file.css') }}" 
        rel="stylesheet"
        type="text/css">
  <link href="{{ url_for('static', filename='flask.png') }}"
        rel="icon">
</head>
<body>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">WELCOME PAGE</h1>
      <p class="col-md-8 fs-4">
            <button class="btn btn-success" onclick="location.href='/join'">JOIN페이지로(GET)</button>
      </p>
  
</body>
</html>